

.category-all {

border-bottom: 1px solid #e5e5e5;
max-width: 1440px;
margin: 0 auto;
padding: 0 135px;
padding-top: 70px;
padding-bottom: 70px;

}
.category-header {

margin-bottom: 60px;



}
.category-indicator {

display: flex;
align-items: center;
gap: 16px;


}
.redd-rectangle {
width: 20px;
height: 40px;
background: var(--primary-color);
border-radius: 4px;


}
.section-title-row {
  display:flex;
  align-items:center;
 
  margin-bottom :60px; ;

}
.section-title {
   font-size: 36px;
  font-weight: 600;
  letter-spacing: 1.44px;
  color: var(--text-color);
  line-height: 48px;
}
.category-subtitle {
   font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: 'Poppins';
  line-height: 20px;

  
}
.navigation-arrows {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.nav-arrow {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid red; /* ADD THIS TO TEST */
 
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
  padding: 0;
}

.nav-arrow:hover {
  background: var(--primary-color);
}

.nav-arrow svg {
  color: #000000;
  transition: color 0.3s;
}

.nav-arrow:hover svg {
  color: #ffffff;
}
.category-container {

display: flex;
flex-wrap: wrap;
gap: 30px;
border: none;
margin-top: 0;

}
.phone-categ {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 30px;
padding: 30px;

min-width: 170px;
height: 145px;
border-radius: 4px;
border: 1px solid #000000;
transition: background 0.3s, border-color 0.3s;


}
.phone-categ:hover {
  background: var(--primary-color);
 border-color: var(--primary-color);
}
.phone-categ img {
  transition: filter 0.3s;
}
.phone-categ:hover img {
  filter: brightness(0) invert(1);
}

.phone-categ:hover .categories-names {
  color: rgb(255, 255, 255);
}
.categories-names {

font-weight: 400;
font-size: 16px;
color: var(--text-color);
}