body {
  margin: 0;

}

.top-header {
  background: black;
  color: white;
  text-align: center;
  padding: 12px 0px;
  font-size: 14px;
  margin: 0;
  width: 100%;
}

.top-header a {
  text-decoration: underline;
  color: white;
  padding-left: 8px;
}

.header {

  border-bottom: 1px solid #e5e5e5;
  padding: 14px 0px 2px;

}

.header-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1px;
  max-width: 1440px;
  margin: 0 auto;

}

/* Logo */
.logo h2 {

  font-size: 24px;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
  margin: 0%;
  padding-bottom: 4px;
  font-style: bold;
  letter-spacing: 0.72%;
}

/* Navigation     */

.nav-menu {

  display: flex;
  gap: 40px;
  list-style: none;


}

.nav-menu a {

  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  align-items: center;
}

.nav-menu a:hover {

  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

/* Active/current page styling */
.nav-menu a.active {
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
  /* Red underline for active page */
}


/* header right   */
.header-right {

  display: flex;
  align-items: center;
  gap: 24px;

  padding-bottom: 17px;
}


/* Search box    */

.searching-box {

  position: relative;
  background: #f5f5f5;
  border-radius: 4px;
  padding: 7px 12px 7px 20px;
  display: flex;
  align-items: center;


}

.search-input {

  border: none;
  background: transparent;
  outline: none;
  width: 200px;
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;

}

.search-btn img {
  width: 24px;
  height: 24px;

}

/* header icons   */

.header-icons {
  display: flex;
  gap: 16px;
}

.icon-btn {

  background: none;
  border: none;
  cursor: pointer;

}

.icon-btn img {
  width: 32px;
  height: 32px;

}

.icon-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.icon-btn img {
  width: 24px;
  height: 24px;
}

.badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background: #DB4444;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 500;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

/* Navigation */
.nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding-bottom: 4px;
  position: relative;
  transition: color 0.3s;
  border-bottom: 2px solid transparent;
}

.nav a:hover {
  color: #666;
}

/* Active link underline */
.nav a.active {
  border-bottom: 2px solid #000;
}