.new-arrival {
  max-width: 1440px;
  margin: 0 auto;
  padding: 70px 135px;
}

.arrival-container {
  width: 100%;
}

.arrival-header {

display: flex;
align-items: center;
gap: 16px;
margin-bottom: 20px;

}

.red-rectangle {
width: 20px;
height: 40px;
background: var(--primary-color);
border-radius: 4px;


}
.arrival-subtitle {
   font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: 'Poppins';
  line-height: 20px;

  
}

.arrival-title {
  font-size: 36px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 60px;
}


/*CSS Grid Layout */

.arrival-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2, 284px);
  gap: 30px;
}

.ps5 {


grid-row: 1/3;
grid-column: 1;

}

.women {
  grid-row: 1;
  grid-column: 2;
}
/* Create a container for speakers and perfume */
.bottom-right {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  gap: 30px;
}

.speakers,
.perfume {
  width: 50%;
  grid-row: unset;
  grid-column: unset;
  margin: 0;
}

.arrival-card {

position: relative;
background: #000000;
border-radius: 4px;
overflow: hidden;
display: flex;
align-items: flex-end;
justify-content: flex-start;
padding: 0;


}

.arrival-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  position: relative;
  z-index: 2;
  padding: 32px;
  color:#FAFAFA;
  width: 100%;
}
.card-content h3 {
  font-size: 24px;
  font-weight: 600;
  font-style: 'inter';
  letter-spacing: 3px;


}
.card-content p {
font-size: 14px;
font-weight: 400;
font-family: 'poppins';
opacity: 0.9;
margin-bottom: 16px;

}

.shop-btn {
  background: transparent;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  border: none;
  padding: 0;
}