.user-dropdown {
  position: relative;
}

.user-icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.user-icon-btn img {
  width: 24px;
  height: 24px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(40px);
  border-radius: 6px;
  min-width: 224px;
  z-index: 1000;

}


.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;

}

.dropdown-menu li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.dropdown-menu li img {
  width: 24px;
  height: 24px;
}

.dropdown-menu li .user-icon {

  width: 32px;
  height: 32px;

}

.dropdown-menu li span {
  font-size: 14px;
  font-weight: 400;
  font-family: 'poppins';
  line-height: 21px;
}